body {
  background-image: url(https://cdn.pixabay.com/photo/2017/02/21/05/15/seattle-2084693_1280.jpg);
  font-family: system-ui;
}

h1 {
  font-weight: bold;
  color: #590CE8;
  background-color: #000025;
  padding: 30px;
  font-family: system-ui;
  font-size: 200%;
}

h2 {
  font-weight: bold;
  color: #FF0D4D;
  background-color: rgba(89, 12, 232, 1);
  padding: 0ex;
  font-family: system-ui;
  font-size: 150%;
}

.WE {
  background-color: rgba(89,12, 232, 0.1);
  padding: 3px;
  width: 600px;
  height: 250px;
  overflow: scroll;
  color: #000025;
}

.topTen {
  background-color: rgba(89,12, 232, 0.1);
  padding: 3px;
  width: 600px;
  height: 250px;
  overflow: scroll;
  color: #000025;
}

.bold {
  font-weight: bold;
}

.topTen ol li {
  list-style: decimal;
  padding: 0.5%;
  list-style-position: inside;
}

.WE ul li {
  list-style: none;
  padding: 0.5%;
  list-style-position: inside;
}
